.card{
   width:300px;
  height:150px;

  /* Box Model */
  padding:20px;
  border:5px solid black;
  margin:40px auto;

  /* Advanced Properties */
  box-sizing:border-box;
  outline:3px solid rgb(22, 23, 60);
  outline-offset:8px;

  /* Appearance */
  border-radius:15px;
  box-shadow:0  5px 15px gray;

  /* Overflow Control */
  overflow:auto;



   
 /*

 */
}
