body{
    
    color: rgb(101, 41, 41);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    list-style: square;
    line-height: 2;
    outline: solid 15px black; 
    text-decoration: solid;
    font-size: 20px;
    

 
}