 
button{
        display:block;
        width: 300px;
        height: 150px;
        margin-left: 560px;
        padding:10px 15px;
        border:2px solid black;
        background:#0c7cc6;
        color:rgba(255, 255, 255, 0.571);
        cursor:pointer;
        border-radius:50px;   
        transition:0.3s;
}
button:hover{
    color: rgb(0, 118, 118);
    background-color: black;
    transform: scale(1.1);
    transition: 0.5s;
}