 

/* Whole page background */
body{
    background-color:#0b74cf;
    background-image: url(https://images.unsplash.com/photo-1583364486567-ce2e045676e9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Card background */
.card{
    width:300px;
    padding:20px;
    margin:50px auto;
    background:rgba(222, 217, 217, 0.8); /* Transparent white */
    border-radius:10px;
    text-align:center;
}
 