 .container{
 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
 }

 .card{
    display: block;
    width: 300px;
    padding: 40px;
    border: 5px solid gray;

 }

 .inline-demo{
    display: inline;
    background: rgb(16, 197, 0);
    padding: 5px;
    
 }

 .inline-block-demo span{
    display:inline-block; 
    width:60px;
    height:40px;
    background:orange;
    text-align:center;
    line-height:40px;
    margin:5px;
 }